<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="blogForm" method="POST" action="/blogForm">

      <label for="enterTittle">Tittle: </label>
      <input class="field" type="text" name="tittle" id="enterTittle" required>
      <label for="enterArticle">Article:</label>
      <input class="description" type="textarea" name="article" id="enterArticle" required>
      <input class="button" type="submit" value="Add">
    </form>
  </body>
</html>