<!DOCTYPE html>
<html>
  <head>
    <title>newForm</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/form">
      <label for="Entertext">Enter email or nikname: </label>
      <input class="field" type="text" name="name" id="Entertext" required>
      <input class="sendButton" type="submit" value="Send">
    </form>
  </body>
</html>