<!DOCTYPE html>
<html>
  <head>
    <title>Goods</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="form" method="POST" action="/form">

      <label for="enterName">Name: </label>
      <input class="field" type="text" name="name" id="enterName" required>
      <label for="enterImage">Image </label>
      <input class="image" type="file" name="image" id="enterImage" required>
      <label for="enterDescription">Product description:</label>
      <input class="description" type="textarea" name="description" id="enterDescription" required>
      <input class="button" type="submit" value="Add">
      <input class="button" type="submit" value="Change">
    </form>
  </body>
</html>